.Entete {
    background-color: #003459;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-size: 1.1em;
  
    ul {
      display: flex;
      padding: 0 20px;
      list-style: none;
      margin-right: 110px;
    }

    li {
        background-color:#007ea7;
        margin-left: 30px;
        margin-top: 35px;
        border: 5px solid #00171f;
        border-bottom: none;
        padding: 20px;
        padding-top: 10px;
    }

    a {
      text-decoration: none;
    }

    a:link {
      color: white;
    }

    a:visited {
      color: white;
    }

    a:hover {
      color: black;
    }

    a:active {
      color: black;
    }

    .logo{
        width: 10%;
        
    }
  
   
  }