* {
    font-family: 'Oswald', sans-serif;
}
.Page {
    background-color: #00171f;
    width: 100%;
    
}

.contacts {
    color: #ebebeb;
    margin: auto;
    width: 90%;
    text-align: center;
}

.contacts ul {
    list-style: none;
}

.Apropos {
    text-align: center;
    color: #ebebeb;
}

.Apropos .titre {
    font-family: 'Raleway', sans-serif;
}