.Projet {
    width: 250px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    background-color: #007ea7;
    color: white;
    border: 1px solid #555;
    border-radius: 10px 10px 0px 10px;
    overflow: hidden;
    text-align: center;
  

    .info {
        color: white;
    }
}

.Projet img {
    width: 75%;
    border: black solid 1px;
    border-radius: 20px;
    margin: auto 0;
}